<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower" rel="stylesheet">
</head>
<body>
<img src="https://cdn.sellerprime.com/img/free-tools/fba-calculator.png" width="400">
<h1>Hello and welcome to my calculator!</h1>
<p>Let's calculate something:</p>
<form method="post">
    <input type="number" name="first-num" required>
    <select name="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>

    <input type="number" name="second-num" required> = <button type="submit">Calculate!</button>
    </form>
</body>
</html>